.note {
  font-style: italic;
}

.margin-btm-3px {
  margin-bottom: 3px;
}

.logo-container {
  min-width: 100vw;
}

.logo {
  font-family: "Avenir";
  font-weight: 100;
  position: absolute;
  font-size: 1.7rem;
  color: #9B9B9B;
}

.logo_amp {
  color: #9B9B9B;
  opacity: 0.5;
  font-family: "Bodoni 72 Oldstyle", Palatino, serif;
  font-style: italic;
  font-size: 4.5rem;
  position: absolute;
  right: 26%;
  top: -5px;
}

.pink {
  color: #DD2476;
}


.social-media {
  left: 5rem;
  position: absolute;
  bottom: 6.5rem;
}

.copyright {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  position: relative;
}

footer {
 position: absolute;
 left: -4.5rem;
 top: 34rem;
}

a {
  color: #00B378;
  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}

.post-image {
  width: 100%;
}

.lg-portrait {
  width: 70%;
}
@media (min-width: 375px) {
  footer {
    top: 34.5rem;
  }
}

@media (min-width: 412px) {
  .social-media {
    bottom: 12.5rem;
  }

  footer {
    bottom: 4rem;
  }
}

/*  TABLET */

@media (min-width: 768px) {
  footer {
    top: 43.5rem;
  }

  footer > .social-media {
    bottom: 7.5rem;
  }
}

@media (min-width: 1024px) {

  footer > .social-media {
    bottom: 28rem;
  }

  footer > .social-media > div > a > img {
    width: 1rem;
  }

}
