/*  MOBILE */
@media (min-width: 360px) {
  .logo {
    font-size: 1.9rem;
  }
}

@media (min-width: 375px) {
  .logo_amp {
    right: 5.5rem;
    top: -1.7rem;
  }

  .creative-nav {
    top: 14rem;
  }

  .creative-nav {
    top: 15rem;
  }

  .coder-nav {
    left: 16rem;
  }
}

@media (min-width: 412px) {
  .logo_amp {
    right: 31%;
    top: -1.4rem;
    font-size: 6.5rem;
  }

  .social-media {
    bottom: 12.5rem;
  }

}

/*  TABLET */

@media (min-width: 768px) {

  .home-container {
    position: absolute;
    top: 6rem;
  }

  .logo {
    font-size: 3.8rem;
  }

  .logo_amp {
    font-size: 11.5rem;
    right: 27%;
    top: -1.4rem;
  }

  .creative-nav {
    left: 22rem;
    top: 14rem;
  }

  .creative-nav > img, .coder-nav > img {
    width: 6rem;
  }

  .creative-nav > a {
    left: 7rem;
    font-size: 1.5rem;
  }

  .coder-nav {
    left: 35rem;
    top: 23.5rem;
  }

  .coder-nav > a {
    font-size: 1.5rem;
    min-width: 14rem;
  }

}

@media (min-width: 1024px) {
  .logo {
    font-size: 5rem;
  }

  .logo-container {
    left: 2rem;
    top: 24rem;
  }

  .logo_amp {
    right: 31%;
    top: -0.5rem;
  }

  .coder-nav {
    left: 47rem;
    top: 32.5rem;
  }

  .coder-nav > img, .creative-nav > img {
    width: 9rem;
  }

  .coder-nav > a, .creative-nav > a {
    font-size: 2rem;
    min-width: 18rem;
  }

  .coder-nav > a {
    bottom: -2rem;
  }

  .creative-nav > a {
    left: 10rem;
  }

  .creative-nav {
    left: 30rem;
    top: 19rem;
  }

}

/*  DESKTOP */

@media (min-width: 1085px) {
  .logo-container {
    left: 10rem;
    top: 14rem;
  }

  .creative-nav {
    left: 40rem;
    top: 10rem;
  }

  .coder-nav {
    left: 50rem;
    top: 23rem;
  }

  .logo_amp {
    right: 46rem;
    top: -0.5rem;
  }
}
