
// main

html, body {
   max-height: 100%;
   max-width: 100%;
   margin: 0;
   padding: 0;
}

body {
  font-family: 'Nunito', "Avenir", sans-serif;
  font-weight: 300;
}

.home-container {
  bottom: 40rem;
}

.logo-container {
  min-width: 100vw;
  position: absolute;
  top: 17rem;
  left: 1rem;
}

.logo {
  font-family: "Avenir";
  font-weight: 100;
  position: absolute;
  margin-left: 0.3em;
  font-size: 1.7rem;
  color: #000;
}

.logo_amp {
  color: #FF715C;
  opacity: 1;
  font-family: "Bodoni 72 Oldstyle";
  font-style: italic;
  font-size: 6.5rem;
  position: absolute;
  right: 21%;
  top: -1.4rem;
}

.coder-nav {
  position: absolute;
  top: 20.5rem;
  left: 14rem;
}

.coder-nav > a {
  position: absolute;
  min-width: 10rem;
  right: 0rem;
  bottom: -1rem;
}

.creative-nav {
  position: absolute;
  left: 11rem;
  top: 14rem;
}

.creative-nav > a {
  position: absolute;
  min-width: 10rem;
  top: -15%;
  left: 71px;
}
