/*  MOBILE */
@media (min-width: 360px) {
  .logo {
    font-size: 1.9rem;
  }
}

@media (min-width: 375px) {
  .logo_amp {
    right: 5.5rem;
    top: -1.7rem;
  }

  .creative-nav {
    top: 14rem;
  }

  footer {
    top: 34.5rem;
  }

  .creative-nav {
    top: 15rem;
  }

  .coder-nav {
    left: 16rem;
  }
}

@media (min-width: 414px) {
  .logo_amp {
    right: 28%;
    top: -1.4rem;
    font-size: 6.5rem;
  }

  .social-media {
    bottom: 12.5rem;
  }

  footer {
    bottom: 4rem;
  }
}

/*  TABLET */
