.social-media {
  position: static;
}

.copyright {
  transform: rotate(0);
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  position: static;
}

footer {
 position: static;
}

/* fluid 5 columns */
.grid-sizer,
.grid-item {
  width: 30%;
  margin-bottom: 1px;
}
/* 2 columns */
// .grid-item--width2 { width: 40%; }
.gigante {
  width: 70%;
  // height: 180px;
  // background: #F90;
  z-index: 2; /* keep it above other items */
}
