.social-media {
  // left: 5rem;
  position: static;
  // bottom: 6.5rem;
}

.copyright {
  transform: rotate(0);
  position: static;
}

footer {
 position: static;
 // left: -4.5rem;
 // top: 34rem;
}
