
.nav {
  font-family: "Avenir";
  font-weight: 100;
  font-size: 0.7rem;
}

body {
  font-family: 'Nunito', "Avenir", sans-serif;
  font-weight: 300;
}

.date {
  font-size: 0.7rem;
}

.article-link {
  color: #000;
}

.article-link:hover, .article-link:visited, .article-link:focus {
  color: #DD2476;
}
