
// main

html, body {
   max-height: 100%;
   max-width: 100%;
   margin: 0;
   padding: 0;
}

body {
  font-family: 'Nunito', "Avenir", sans-serif;
  font-weight: 300;
}

.logo-container {
  min-width: 100vw;
}

.logo {
  font-family: "Avenir";
  font-weight: 100;
}

.logo_amp {
  color: #FF715C;
  font-family: "Bodoni 72 Oldstyle";
  font-style: italic;
}

footer {
  max-width: 100%;
  margin: 0 auto;
}

a {
  color: #00B378;
  text-decoration: none;

  &:focus,
  &:hover {
    text-decoration: underline;
  }
}
