<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Damilola Odelola" %></title>
    <link href="stylesheets/normalise.css" rel="stylesheet" />
    <link href="stylesheets/general.css" rel="stylesheet" />
    <link href="stylesheets/site.css" rel="stylesheet" />
    <link href="stylesheets/mobile.css" rel="stylesheet" />
    <script src="javascripts/site.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400" rel="stylesheet">
  </head>
  <body>
    <div class="logo-container">
      <span class="logo_amp"> &amp; </span>
      <h1 class="logo"> LOLA: CREATIVE <span class="pink">CODER</span> </h1>
    </div>
    <%= yield %>
    <footer>
     <div class="social-media">
       <div>
         <a href="https://twitter.com/lolaodelola">
           <img src="images/twitter_icon.svg" alt="Twitter icon" />
         </a>
       </div>
       <%#= image_tag "fb_icon.svg" %>
       <div>
         <a href="https://instagram.com/lolaodelola">
           <img src="images/ig_icon.svg" alt="Instagram icon" />
         </a>
       </div>
     </div>
     <div class="copyright"> Damilola Odelola &copy; <%= Date.today.year %> </div>
    </footer>
  </body>
</html>
