<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Damilola Odelola" %></title>
    <link href="stylesheets/normalise.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="stylesheets/general.css" rel="stylesheet" />
    <link href="stylesheets/rough_ideas.css" rel="stylesheet" />
    <script src="javascripts/site.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400" rel="stylesheet">
  </head>
  <body>
    <div class="container" >
      <div  class="row">
        <header class="col-md-6">
          <div class="nav"> LOLA: <a href="/"> HOME </a></div>
          <a href="rough_ideas_index.html"><img src="images/rough_ideas_logo.svg" /></a>
        </header>
      </div>
      <%= yield %>
    </div>
    <footer>
     <div class="social-media">
       <div>
         <a href="https://twitter.com/lolaodelola">
           <img src="images/twitter_icon.svg" alt="Twitter icon" />
         </a>
       </div>
       <%#= image_tag "fb_icon.svg" %>
       <div>
         <a href="https://instagram.com/lolaodelola">
           <img src="images/ig_icon.svg" alt="Instagram icon" />
         </a>
       </div>
     </div>
     <div class="copyright"> Damilola Odelola &copy; <%= Date.today.year %> </div>
    </footer>
  </body>
</html>
