---
layout: "rough_ideas_post"
title: Sunday Morning
date: 2018-03-02 14:16 UTC
tags:
---
<div class="col-md-6 offset-md-4 col-sm-12" >
<h1> Sunday Morning </h1>
  <p class="note">
    <b> Camera: </b> Samsung S8 - pro mode
    <br>
    <b> Lens: </b> Rear Camera - 12MP - F1.7
    <br>
    <b> Editing Suite: </b> Lightroom CC (on Android)
  </p>
</div>
</div>
<div class="row">
  <div class="col-md-6 offset-md-3 col-sm-12" >
    <%= image_tag "posts/sunday_morning/ri_cooking_in_window.jpg", class: "post-image margin-btm-3px"%>
  </div>
</div>

<div class="row">
  <div class="col-md-6 offset-md-3 col-sm-12" >
    <%= image_tag "posts/sunday_morning/kitchen_in_window.jpg", class: "post-image margin-btm-3px"%>
  </div>
</div>

<div class="row">
  <div class="col-md-6 offset-md-3 col-sm-12" >
    <%= image_tag "posts/sunday_morning/ri_in_window.jpg", class: "post-image margin-btm-3px"%>
  </div>
</div>
