---
layout: "rough_ideas_post"
title: Returning To Me
date: 2018-03-01 6 offset-md-3:28 UTC
tags: photo-essay, personal essay
---

<div class="row">
  <div class="col-md-6 offset-md-3 col-sm-12" >
  <h1> Returning To Me </h1>
    <p class="note"> Names in this piece have been changed for no reason other than it felt right to. </p>
  </div>
</div>

<div class="row">
  <div class="col-md-6 offset-md-3 col-sm-12" >
    <p>My uncle died three weeks ago and it rocked me harder than it should. We weren't close, spoke a couple of times a year but it's always surprising when someone you've never pictured with death slumps into her arms without a fight. The news came at the back-end of a depressive episode, the abrupt end of two cherished friendships, the slow drifting of another & what I thought was the end of the crumbling of blackgirl.tech (lol, it was just the beginning).</p>
  </div>
</div>
<div class="row">
  <div class="col-md-6 offset-md-3 col-sm-12" >
    <%= image_tag "posts/me_hands.jpg", class: "post-image"%>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-6 offset-md-3 col-sm-12" >
    <p>In December, I went to New York and met two incredibly talented men, Tosin & Kayode, both creatives doing work in the visual arts realm (Tosin's a photographer, Kayode's a documentary filmmaker). They took me around New York & schooled me on MTA (Londoners, we're blessed). We talked passionately about everything. Kayode letting us know that Lupe & Kendrick are two trash iterations of the same person, Tosin asking about the role (Black) women play in (Black) men's lives, but everyone always coming back to creativity - why we create, who we do it for, what it does for us. These talks weren't unlike any I'd had before except for the fact that they were had in the seductiveness and lure of New York.</p>

    <p>I left feeling like I had spent the whole of 2017 wearing a mask, like a large part of me had been hidden and I didn't even realise.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-6 offset-md-3 col-sm-12" >
    <%= image_tag "posts/me_blur.jpg", class: "post-image"%>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-6 offset-md-3 col-sm-12" >
    <p>I got into tech because I wanted to write. Tech was supposed to be my bread while writing was to be my water but entering an industry where you feel like you have to fight to be, it's easy to forget to drink, you know? I decided to go back to what I love, and more importantly, who I am. Writing has been somewhat of a burden for me, I'm thinking too hard about the words, so I'm finding other ways to create and tell stories. Photography has been a light during a harsh, dark, winter. It feels warm, better still, it feels good. So that's what I'm doing now. I want to get back into making film and & I've randomly picked up embroidery, kind of.</p>
  </div>
</div>
<div class="row">
  <div class="col-md-6 offset-md-3 col-sm-12" >
    <%= image_tag "posts/me_mid.jpg", class: "post-image"%>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-6 offset-md-3 col-sm-12" >
    <p>All that to say, I won't be taking on any tech-related speaking gigs/workshops/etc outisde of stuff I'm paid to do or blackgirl.tech. I also don't do freelance web design/development.</p>
  </div>
</div>
