---
layout: "home"
---

<div class="container" >
 <main class="home-container">
     <div class="logo-container">
      <span class="logo_amp"> &amp; </span>
      <h1 class="logo"> LOLA: CREATIVE  CODER </h1>
    </div>

    <div class="nav">
       <div class="creative-nav">
        <img src="images/creative_arrow.svg" alt="Creative arrow" />
        <%= link_to "stuff i've made", '/rough_ideas.html' %>
      </div>
       <div class="coder-nav">
        <a href="https://s3.eu-west-2.amazonaws.com/lolaodelola/cv_2017.pdf"> other stuff i've made </a>
        <img src="images/coder_arrow.svg" alt="Coder arrow" />
      </div>
    </div>
  </main>
   <footer>
    <div class="social-media">
      <div>
        <a href="https://twitter.com/lolaodelola">
          <img src="images/twitter_icon.svg" alt="Twitter icon" />
        </a>
      </div>
      <%#= image_tag "fb_icon.svg" %>
      <div>
        <a href="https://instagram.com/lolaodelola">
          <img src="images/ig_icon.svg" alt="Instagram icon" />
        </a>
      </div>
    </div>
    <div class="copyright"> Damilola Odelola &copy; <%= Date.today.year %> </div>
   </footer>
</div>
